<header class="site-header">
  <div class="container">
    <nav aria-label="Main navigation">
      <div class="logo">
        <div class="logo-image">
          <a href="/" aria-label="Home page">
            <img
              src="/images/favicon.webp"
              alt="Mycraft Network Logo"
              loading="eager"
              fetchpriority="high"
              decoding="async"
            />
          </a>
        </div>

        <div class="logo-text">
          <span>Mycraft Network</span>
          <span>IP: server.mycraft.es</span>
        </div>
      </div>

      <ul id="primary-navigation" class="primary-navigation">
        <li>
          <a
            href="/"
            aria-current={Astro.url.pathname === "/" ? "page" : undefined}
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="https://tienda.mycraft.es"
            target="_self"
            rel="noopener noreferrer">Tienda</a
          >
        </li>
        <li>
          <a
            href="https://discord.mycraft.es"
            target="_blank"
            rel="noopener noreferrer">Discord</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .site-header {
    padding: 1.5rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo-image {
    display: flex;
    flex-shrink: 0;

    & a {
      display: block;
      width: 60px;
      height: 60px;
    }
  }

  .logo-text {
    flex-direction: column;
    display: none;

    @media (width > 1024px) {
      display: flex;
    }

    & span:first-child {
      font-weight: 700;
      font-size: var(--fs-sm);

      @media (width > 400px) {
        font-size: var(--fs-md);
      }
    }

    & span:nth-child(2) {
      font-weight: 500;
      font-size: var(--fs-sm);
      font-family: "Clash";
      color: var(--color-opacity);
    }
  }

  .primary-navigation {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    & a {
      font-size: var(--fs-base);
      color: white;
      font-weight: 450;

      &:hover {
        position: relative;
      }

      &:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: white;
      }
    }
  }

  @media (width > 1200px) {
    .logo-image a {
      width: 80px;
      height: 80px;
    }
  }

  @media (width <= 1024px) {
    .logo-image a {
      width: 50px;
      height: 50px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
